<%= search_form_for @q, url: admin_report_path ,  method: :get  do |f| %>
  <br>
  <b>From</b>
  <%= f.search_field :created_at_gteq%>
  <b>To</b>
  <%= f.search_field :created_at_lteq%>
  <%= f.submit %>
<% end %>

 <!-- <table>  -->
<!--    <tr>
     <th> abc</th>
   </tr>
   <% @products.each do |product| %>
   <tr>
    <td><%= product.created_at %></td>
    <td><%= product.name%></td>
 </tr>
   <% end %>
</table> -->
 <!--  -->
<table id="users-datatable" data-source="<%=  admin_report_path(format: :json) + "?" + request.query_string   %>">
  <thead>
    <tr>
      <th>IDD</th>
      <th>NAME</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>